.modal {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  background-color: thistle;
  padding: 1rem;
  text-align: center;
  width: 40vw;
  height: 20vh;
  z-index: 10;
  position: fixed;
  top: 20vh;
  left: calc(50% - 20rem);
  color: midnightblue;
  font-family: "Press Start 2P", cursive;
  font-size: 6vh;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}
