/* Base styles for all screen types */
.backdrop {
  position: fixed;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.75);
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}

/* Media queries for different screen types */
@media only screen and (max-width: 600px) {

  /* Styles for small screens */
  .backdrop {
    background-color: rgba(0, 0, 0, 0.9);
  }
}

@media only screen and (min-width: 601px) and (max-width: 1024px) {

  /* Styles for medium screens */
  .backdrop {
    background-color: rgba(0, 0, 0, 0.7);
  }
}

@media only screen and (min-width: 1025px) {

  /* Styles for large screens */
  .backdrop {
    background-color: rgba(0, 0, 0, 0.75);
  }
}