@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@700&family=Press+Start+2P&display=swap");

.scoreboard {
  margin-left: 5vw;
  font-size: 3vh;
  text-shadow: none;
  flex: 1;
  display: flex;
  font-family: "Press Start 2P", cursive;
}

.scoreGroup {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.scoreGroup:first-child {
  margin-right: 10px;
}
.title {
  margin-bottom: 5px;
}
